# Project exclude paths
/microservicecloud-api/target/
/microservicecloud-consumer-dept-80/target/
/microservicecloud-euraka-7001/target/
/microservicecloud-euraka-7002/target/
/microservicecloud-euraka-7003/target/
/microservicecloud-provider-dept-8001/target/
.idea/